$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69);
$low-emph: rgba(white, 0.38);
$dark-grey : #1b1b1b; 
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 90%);

html, body, input, textarea, select, button {   
  color: $high-emph !important;
  background-color: $dark-grey !important;
}

a {
    text-decoration: none !important;
    font-weight: bold !important;
    color: $high-emph !important;
}

.footnotes {
  border-top: 1px solid $high-emph !important;
}

a.footnote.footnotes {
  border: none !important;
}

a:hover {
    color: rgb(222, 146, 64) !important;
}

.flash a {
   color: $dark-grey !important;
}

.flash code {
  background-color: #819db8 !important;
  border-color: #6886a1 !important;
}

// Removing code output margin
.output_text.output_execute_result pre {
  margin-left: 0em !important;
}

.output_subarea.output_stream.output_stdout.output_text pre {
  margin-left: 0em !important;
}

.search-result .search-result-title {
  text-decoration: none !important;
  color: $high-emph !important;
}

.search-result .search-result-highlight {
  color: rgb(222, 146, 64) !important;
}

.site-title {
  font-weight: normal !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $high-emph !important;
}

.site-nav {
    background-color: $dark-grey;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.highlighter-rouge .highlight {
  background: $overlay !important;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border-color: $overlay-light;
}

li .post-meta-description {
    color: $med-emph !important;
}

.anchor-link {
  \-webkit-text-stroke: none !important;
}

.site-header {
  border-bottom: 1px solid rgba(1,1,1,0) !important;
  border-top: 5px solid rgba(1,1,1,0) !important;
}

.site-footer {
  border-top: 1px solid rgba(1,1,1,0);
}

.social-media-list li a, .pagination li a {
  border: 1px solid rgba(1,1,1,0);
}

.pb-5.d-flex.flex-justify-center .px-2 {
  padding-left: 0 !important;
}

.pb-5.d-flex.flex-justify-center {
  justify-content: left !important;
}

.vega-embed .vega-actions {
  background-color: $dark-grey !important;
}
