$dark-grey : #121212; 
$link : #4174e0; 

// Removing header and footer borders
.site-header {
  border: none !important;
}
.site-footer {
  border: none !important;
}


// Removing code output margin
.output_text.output_execute_result pre {
  margin-left: 0em !important;
}
.output_subarea.output_stream.output_stdout.output_text pre {
  margin-left: 0em !important;
}

// Removing code output margin
.output_text.output_execute_result pre {
  margin-left: 0em !important;
}
.output_subarea.output_stream.output_stdout.output_text pre {
  margin-left: 0em !important;
}

// Search results links
.search-result .search-result-title {
  text-decoration: none !important;
  color: $dark-grey !important;
}
.search-result .search-result-highlight {
  font-weight: bold !important;
  color: $dark-grey !important;
}

// Site title
.site-title {
  font-weight: normal !important;
  font-size: 2em !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $dark-grey !important;
}

// Links
a {
  text-decoration: none !important;
  font-weight: bold !important;
  color: $link !important;
}
.post-link {
  text-decoration: none !important;
  font-weight: bold !important;
  color: $dark-grey !important;
}

// Post list
.post-list > li > div {
  box-shadow: none !important;
}

// Styling footnotes
a.footnote.footnotes {
  border: none !important;
}
.footnotes {
  border-top: 1px solid $dark-grey !important;
}

// Git, Binder, and Colab links aligned left
.pb-5.d-flex.flex-justify-center .px-2 {
  padding-left: 0 !important;
}
.pb-5.d-flex.flex-justify-center {
  justify-content: left !important;
}

